<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>test</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/client.js"></script>
	
	<script src="/static/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/static/libs/underscore-min.js" type="text/javascript"></script>
	<script src="/static/libs/backbone-min.js" type="text/javascript"></script>	
	
	<script type="text/javascript" charset="utf-8">
	if (typeof console === "undefined" || typeof console.log === "undefined")
	{
    	console = {};
    	console.log = function() {};
	}
	
	var conn;
	
	$(document).ready(function() {
		conn = new client.ConnectionManager({"force-new-connect":false});
		conn.connect("localhost", 8080);
	});
	
	
	</script>
</head>
<body id="test" onload="">
	
</body>
</html>