

.row {
    height: 75px;
    background-color: red;
    margin: 5px;
    width: 100%;
}

.row div {
    float: left;
    margin-left: 5px;
}

.touched {
    box-shadow: 5px 5px 5px #444;
}

#pulse {
    overflow-y: auto;
}

#pulse .sign {
    margin-left: 5px;
    margin-right: 5px;
    
    border: 1px solid #666;
    
    height: 90px;
    width: 160px;
}
#pulse .sign img {
    height: 90px;
    width: 160px;
    background-color: #F2F2F2;
}

#pulse .chat {
    width: 250px;
}

.openquote, .closequote {
    position: absolute;
    width: 10px;
    font-size: 3em;
    color: #ccc;
}

.openquote {

    top: -5px;
    left: 72px;
}

.closequote {
    right: 25px;
    bottom: -20px;
}

.contents {
    width: 165px;
    margin-left: 18px;
}

.chat .votes, .sign .votes {
    position: absolute;
    
    right: -7px;
    top: -3px;
    
    width: 26px;
    height: 22px;
    
    border-radius: 13px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

.sign .votes {
    
}


#pulse .chat .message {
    width: 172px;
    height: 80px;
    background-color: white;
    float: left;
    padding: 3px;
    border: 1px solid #555;
}

#pulse .chat img {
    height: 65px;
    width: 65px;
    float: left;
    margin-right: 5px;
}

#pulse .word {
/*    width: 75px;*/
    height: 35px;
    font-size: 2em;
    font-weight: bold;
}

.pulse-item {
/*    border: 1px solid black;*/
    margin: 5px;
}

#pulse-container {
    position: absolute !important;
    bottom: 0px !important;
    width: 100%;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}