/***** Section (Left Side) Styles *****/

div#section {
  background-color: rgba(242,250,178,0.5);
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
}

div#status {
  z-index: 50;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(242,250,178,1.0);
  height: 30px;
}

div#status h1 {
  float: left;
  margin: 0px;
  margin-top: -2px;
  margin-left: 5px;
}

div#status h2 {
  float: left;
  margin: 5px;
  color: red;
  font-size: 16px;
}

div#section-select {
  z-index: 1;
  position: absolute;
  top: 40px;
  height: 90%;
}

div#section-select .friends {
  width: 32px;
  margin-left: 10px;
}

div#section-select .km-content {  /* Kendo UI hack to remove listview background */
  background: none;
}

div#section-select input#create {
  width: 90%;
  font-size: 20px;  
}

div#events-list { 
  position: absolute;
  top: 30px;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  
  box-shadow: -1px 5px 20px -5px #666;
  -webkit-box-shadow: -1px 5px 20px -5px #666;
}

div#events-list .chat-event {
  display: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  
  padding: 5px;
  margin-bottom: 10px;
  
  background-color: rgba(242,250,178,0.8);
  border: 1px solid #666;
  
  min-height: 90px;
}

div#events-list .chat-event .profile {
  float: left;
  width: 25%;
  padding-right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#events-list .chat-event .text {
  margin-top: 0px
}


div#section input#msg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  
  padding: 0px;
 
  font-size: 24px;
}

div#section input:focus {
  outline: none;
}

div#section form input::-webkit-input-placeholder {
  color: #666;
}

div#pulse {
  background-color: rgba(203,242,188,0.5);
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}