/***** Section (Left Side) Styles *****/

div#section {
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f8fcfe 35%, #eef8fc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(35%,#f8fcfe), color-stop(100%,#eef8fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8fcfe 35%,#eef8fc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f8fcfe 35%,#eef8fc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8fcfe 35%,#eef8fc 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#f8fcfe 35%,#eef8fc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef8fc',GradientType=0 ); /* IE6-9 */
  
  
}

div#status {
  z-index: 50;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;
  
  box-shadow: 0px 2px 10px #666;
  -webkit-box-shadow: 0px 2px 10px #666;
  
  background: #fb2154; /* Old browsers */
  background: -moz-linear-gradient(top,  #fb2154 0%, #fc0e46 44%, #f20038 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb2154), color-stop(44%,#fc0e46), color-stop(98%,#f20038)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fb2154 0%,#fc0e46 44%,#f20038 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fb2154 0%,#fc0e46 44%,#f20038 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fb2154 0%,#fc0e46 44%,#f20038 98%); /* IE10+ */
  background: linear-gradient(top,  #fb2154 0%,#fc0e46 44%,#f20038 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb2154', endColorstr='#f20038',GradientType=0 ); /* IE6-9 */
  
}

div#status h1 {
  float: left;
  margin: 0px;
  margin-top: -2px;
  margin-left: 5px;
  color: #FFF;
}

div#status h2 {
  float: right;
  margin: 5px;
  color: #F5F5F5;
  font-size: 16px;
}

div#section-select {
  z-index: 1;
  position: absolute;
  top: 40px;
  height: 90%;
}

div#section-select .population {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}

div#section-select .friends {
  float: right;
  width: 32px;
  margin-left: 10px;
}

div#section-select .km-content {  /* Kendo UI hack to remove listview background */
  background: none;
}

div#section-select input#create {
  width: 90%;
  font-size: 20px;  
}

div#events-list { 
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: auto;
}

div#events-list .sign-event {
  display: none;
  
  margin-top: -5px;
  
/*  height: 34px;*/
  width: 100%;
/*  border: 1px solid #666;*/
}

div#events-list .sign-event .profile {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-left: 5px;
  
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

div#events-list .sign-event .sign-img {
  width: 80%;
  padding: 5px;
  background-color: #F2F2F2;
  border: 1px solid #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#events-list .chat-event {
  display: none;
  
  margin-top: -5px;
  margin-bottom: -15px;  
  
/*  height: 34px;*/
  width: 100%;
/*  border: 1px solid #666;*/
}

div#events-list .admin {
    background-color: rgba(220,20,60,0.7);
    color: white;
    margin-bottom: 2px;
}

div#events-list .admin p {
  font-weight: 100;
  padding: 0.2em;
}

.clear {
  clear: both;
}

div#events-list .chat-event .profile {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-left: 5px;
  
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

div#events-list .chat-event .text {
  margin-top: 5px;
  width: 100%;
}


div#section input#msg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 89%;
  
  padding: 0px;
 
  font-size: 24px;
}

div#section input:focus {
  outline: none;
}

div#section form input::-webkit-input-placeholder {
  color: #666;
}

div#section #show-signcreate-view {
  position: absolute;
  padding: 0px !important;
  right: 2px;
  bottom: 2px;
  height: 50px;
  width: 10%;
  font-size: 12px;
}

div#pulse {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;

  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* IE10+ */
  background: linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
  
  box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
}


.vote {
    width: 567px;
/*    width: 100%;*/
    height: 95px;
    padding: 5px;
    
/*    position: absolute;*/
/*    bottom: 50px;*/
/*    left: 50%;*/
/*    margin-left: -200px;*/
    
/*    background-color: white;*/
    
    font-family: Helvetica;
    
    z-index: 1000000000;
    margin-bottom: 31px;
}

.section-results img {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}

.section-results .opt2 img {
    float: right;
}

.section-results .opt1 img {
    float: left;
}


.vote-button {
    width: 53px;
    height: 65px;
}

.vote-left {
    float: left;
}

.vote-right {
    float: right;
}

.results-container {
    background-color: #7a99c1;
    width: 100%;
}

.opt1 {
    background-color: #b42121;
    width: 50%;
    height: 28px;
    text-align: left;
    padding-left: 5px;
    padding-top: 7px;
}

.opt2 {
    float: right;
    color: white;
    margin-right: 5px;
    margin-top: 7px;
}

.results {
    width: 407px;
    float: left;
    margin-left: 5px;
}

.prompt {
    margin: 5px;
    text-align: center;
    
    font-size: 1.2em;
    font-style: italic;
}

.section-results, .global-results {
    margin-bottom: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

div#sign-create {
  z-index: 100000;
  position: fixed;
  top: 50px;
  left: 25px;
  width: 960px;
  height: 600px;
  background-color: #F2F2F2;
  border: 1px solid #666;
  
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

div#sign-create #sign-menu .sign-button {
  position: relative;
  left: 5px;
  bottom: 10px;
  padding: 2px;
}

div#sign-create #sign-menu  #colors {
  position: relative;
  bottom: 10px;
  width: 200px;
  left: 100px;
}

div#sign-create #sign-menu #submit-button {
  bottom: 13px;
  left: -5px;
  float: right;
  width: 200px;
  border: 1px solid #666;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: rgba(255,51,0,0.5);
  font-size: 24px;
  margin-right: 20px;
}

div#sign-create #sign-menu  #widths {
  position: relative;
  bottom: 10px;
  left: 200px;
}

div#sign-create #sign-menu  #widths button  {
  background: none;
  margin-left: 10px;
}

div#load-view {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

div#load-view #loader-view {
  position: absolute;
  bottom: 100px;
  left: 0px;
  width: 100%;
  padding: 10px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  -webkit-animation-name: loader;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes loader {
  from {
    background-color: #FFF;
    color: #000;
  }
  to {
    background-color: #666;;
    color: yellow;
  }
}

@-webkit-keyframes loader {
  from {
    background-color: #FFF;
    color: #000;
  }
  to {
    background-color: #666;
    color: yellow;
  }
}




.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-blue {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-red {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
